/* Colors 
Dark blue: #0B0742
Blue : #120C6E
lightblue: #5E72EB
pink: #FF9190
yellow: #FDC094
*/

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: content-box;
}



/* !js particules canvas */
#canvas1{
    background: radial-gradient (#06D6A0, #fcfcfc);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0; 
    width: 100%;
}

.vcard{
    position: relative;
    top: 50px;
    margin: 0 auto;
    background-color: white;
    height:500px;
    width: 300px; 
    border-radius: 15px;
    box-shadow: 13px 13px 21px #0B0742;
    z-index: 100;
}

.vcard_header{
    position: relative;
    top: 20px;
    margin: 0 auto;
   
    height: 200px;
    width: 250px;
}

.header_figure{
    margin: 0 auto;
    position: relative;
}

#picture{
    border-radius: 50%;
    width: 130px;
    height: 130px;
    position: relative;
    left: 10%;
    border: none;
    
}

.header_title h1, h2 {
    color: #4b4a4d;
  
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    font-weight: bolder;
}

h2{

    font-size: 21px;
    font-weight: lighter;}

.vcard_body{
    position: relative;
    top: 40px;
    margin: 0 auto;
    height: 100px;
    width: 250px;
    }

.socialbutton{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: O auto;
    
}


.fa-linkedin, .fa-skype, .fa-github {
    color: #5E72EB;
    text-decoration: none;
}


span {
position: relative;
top: 20px;
display: flex;
justify-content: space-around;
font-size: 13px;

}

.download{
    position: relative;
    top: 100px;
    margin: 0 auto;
    align-items: center;
    text-align: center; /* to center a button! */
}

#btn {

    border-radius: 28px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bolder;
    background: linear-gradient(30deg, #5E72EB, #FF9190);
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    justify-items: center;
    border: none;
    
  }
  
 #btn:hover {
    background: #FF9190;
    text-decoration: none;
  }